[Desktop Entry]
Type=Application
Name=Kvanet VPN Client
Comment=Linux GUI клиент для Kvanet VPN
Exec=gksudo /home/$USER/kvanet_linux_client/run_vpn.sh
Icon=network-vpn
Terminal=false
Categories=Network;Security;
StartupNotify=true
